.demo {
    border: 1px solid red;
    color: greenyellow;
    padding: 50px;
}

#bind-attribute {
    border: 1px solid brown;
    color: greenyellow;
    padding: 50px;
}

p {

    color: red;

}

#ct {

    color: blue;

}